:global 
{
  .board-container {
    padding: 50px 40px 0 40px;

    $normal-color: #6C6C6C;

    a { 
      color: $normal-color;
      cursor: pointer;
    }

    $color-border: #DDD;
    $active-color: #1870DD;
    
    
    li.nav-tab.active a { color: $active-color; }

   .tab-panel {
      padding: 20px 30px 20px 30px;
      border: 1px solid $color-border;
      border-top: none;
      display: none;

      &.tab-panel-active {
        display: block;
      }
    }
  }
}
