$width: 470px;
$form-background: #46B9EE;
$login-body: #3BAAE9;
$form-color: #fff;
$loginBtn-padding: 30px;

:global .form-wrapper {

  // background: $login-body;
  margin-top: -180px;
  overflow: hidden;
  height: 100vh;
  min-height: 600px;
  
  .form-pane {
    width: $width;
    padding: 60px;
    margin: 200px auto;
    
    .form-account {
      background: $form-background;
      padding: 24px;
      color: $form-color;

      .btn-login {
        padding-left: $loginBtn-padding;
        padding-right: $loginBtn-padding;
        border: 2px solid $form-color;
        color: $form-color;
        background: $form-background;

        &:hover{
          color: $form-background;
          background: $form-color;
          border-color: $form-background;
        }
      }

      .btn-forgot{
        color: $form-color;
        text-decoration: none;

        &:hover {
          color: #2e3d49;
        }
      }
    }

    .description { color: #757c81; font-weight: 300; }
  
    .bottons {
      margin-top: 20px;  
    
      .btn-gap { 
        padding: 4px 20px;

        margin-left: 15px;
        margin-right: 15px;
        border: 1px solid #dbe2e8!important;
        border-radius: 4px;
        background-color: inherit;
        color: #757c81;
        vertical-align: middle;
        
        span { 
          display: inline-block;
          padding-top: .32em;
          vertical-align: top;
          padding-left: .4em; }
        &:hover span { color: $login-body;}
      }



      .fa-icon { font-size: 24px; }
    }

   
  }
}



