$django-summary: #ffc;
$django-info: #f6f6f6;
$django-body: #eee;

$django-admin-login-body: #f8f8f8;
$django-admin-login-body-container: #fff;

.mainSite {
  background: #3BAAE9;
  max-width: 1030px;
  margin: auto;
}