:global {
  $django-summary: #ffc;
  $django-info: #f6f6f6;
  $django-body: #eee;

  $django-admin-login-body: #f8f8f8;
  $django-admin-login-body-container: #fff;

  $udaciry-error: #f95c3c;

  .main-site {

    $sideBar-width: 240px;
    $sideBar-color: #3BAAE9;
    $header-height: 50px;
    $main-color: #fff;

    max-width: 1030px;
    margin: auto;
    // background: #3BAAE9;

    .wrapper{

      position:relative;
      border-left: $sideBar-width solid $sideBar-color;
      background: $main-color;

      .sideBarWrapper {
        position: fixed;
        width: $sideBar-width;
        max-width: $sideBar-width;
        margin-left: -$sideBar-width;
        top: $header-height;
        background: $sideBar-color;
      }

      .boardtWrapper{
        // background: red;
        width: 100%;
        min-height: 700px;

        $active-color: #1870DD;
        & li.active a { color: $active-color; }
      }

    }
  }

  /* Rules for sizing the icon. */
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }

  /* Rules for using icons as black on a light background. */
  .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
  .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

  /* Rules for using icons as white on a dark background. */
  .material-icons.md-light { color: rgba(255, 255, 255, 1); }
  .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

  /* Rules for vertical */
  .vertical-top { vertical-align: top; }
  .vertical-middle { vertical-align: middle; }
  .vertical-bottom { vertical-align: bottom; }

  /* Rules for usual margin, 
     notes: _ represent dot sign
            - represent minus sign */
  .mt-2 { margin-top: 2px; }
  .mt-3Ex { margin-top: 3px!important; }
  .mt--0_5em { margin-top: -0.5em; }
  .mb-10 { margin-bottom: 10px; }
  .mb-20 { margin-bottom: 20px; }
  .mb-1_5em { margin-bottom: 1.5em; }
  .ml-2 { margin-left: 2px; }

  /* Rules for usual padding */
  .pt-6 { padding-top: 6px; }
  .pt-50 { padding-top: 50px; }

  /* Rules for usual font icon color */
  $color-corrent: #0F7001;
  $color-error: #FB0007;
  $color-progress: #13284B;
  $color-pristine: #6C6C6C;
  $color-circle-facebook: #2D4486;
  $color-facebook: #fff;
  $color-facebook-official: #3c5b9a;
  $github-color: #333333;
  .fa.pristine { color: $color-pristine; }
  .fa.correct, .fa.done{ color: $color-corrent; }
  .fa.error, .fa.remove { color: $color-error; }
  .fa.draft { color: $color-progress; }
  .fa.facebook-circle-color { color: $color-circle-facebook; }
  .fa.facebook-color { color: $color-facebook; }
  .fa.facebook-official-color { color: $color-facebook-official;  }
  .fa.github-color { color: $github-color; }
  /* Rules for font size */
  .fz0 { font-size: 0; }
  .fz12 { font-size: 12px; }

  /* Rules for font weight */ 
  .fw-bolder { font-weight: bolder; }
  .fw-bold { font-weight: bold; }

  /* Rules for usual button style, improve bootstrap v3.7 */
  $color-post: #fff;
  $color-post-bg: #13284B;
  $color-file: #000;
  $color-file-bg: #D0D0D0;

  .btn-post {
    color: $color-post;
    background: $color-post-bg;
  }

  .btn-file {
    color: #color-file;
    background: $color-file-bg;
  }


  /* Rules for media, bootstrp v3.7 */ 
  .inline-block { display: inline-block; }
}