:global 
{
  $django-summary: #ffc;
  $django-info: #f6f6f6;
  $django-body: #eee;

  $django-admin-login-body: #f8f8f8;
  $django-admin-login-body-container: #fff;

  $udaciry-error: #f95c3c;

  .main-site {

    $sideBar-width: 240px;
    $sideBar-color: #3BAAE9;
    $header-height: 50px;
    $main-color: #fff;

    max-width: 1030px;
    margin: auto;
    // background: #3BAAE9;

    .wrapper{

      position:relative;
      // border-left: $sideBar-width solid $sideBar-color;
      // border-left: $sideBar-width solid transparent;
      padding-left: $sideBar-width;
      background: $main-color;

      .sideBarWrapper {
        position: fixed;
        width: $sideBar-width;
        max-width: $sideBar-width;
        margin-left: -$sideBar-width;
        top: $header-height;
        bottom: 0;
        background: $sideBar-color;
      }

      .boardtWrapper{
        // background: red;
        width: 100%;
        min-height: 700px;
      }

    }
  }

  /* Rules for sizing the icon. */
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }

  /* Rules for using icons as black on a light background. */
  .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
  .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

  /* Rules for using icons as white on a dark background. */
  .material-icons.md-light { color: rgba(255, 255, 255, 1); }
  .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

  /* Rules for vertical */
  .vertical-top { vertical-align: top; }
  .vertical-middle { vertical-align: middle; }
  .vertical-bottom { vertical-align: bottom; }

  /* Rules for usual margin, 
     notes: _ represent dot sign
            - represent minus sign */
  .mt-2 { margin-top: 2px; }
  .mt-3Ex { margin-top: 3px!important; }
  .mt--0_5em { margin-top: -0.5em; }
  .mb-10 { margin-bottom: 10px; }
  .mb-20 { margin-bottom: 20px; }
  .mb-1_5em { margin-bottom: 1.5em; }
  .ml-2 { margin-left: 2px; }

  /* Rules for usual padding */
  .pt-6 { padding-top: 6px; }
  .pt-50 { padding-top: 50px; }

  /* Rules for usual font icon color */
  .fa-spin { 
    transform: translateZ(0) scale(1);
    -webkit-backface-visibility: hidden;
  }
  $color-corrent: #0F7001;
  $color-error: #FB0007;
  $color-progress: #13284B;
  $color-pristine: #6C6C6C;
  $color-circle-facebook: #2D4486;
  $color-facebook: #fff;
  $color-facebook-official: #3c5b9a;
  $github-color: #333333;
  $google-color: #4285f4;
  .fa.pristine { color: $color-pristine; }
  .fa.correct, .fa.done{ color: $color-corrent; }
  .fa.error, .fa.remove { color: $color-error; }
  .fa.draft { color: $color-progress; }
  .fa.facebook-circle-color { color: $color-circle-facebook; }
  .fa.facebook-color { color: $color-facebook; }
  .fa.facebook-official-color { color: $color-facebook-official;  }
  .fa.github-color { color: $github-color; }
  .fa.google-color { color: $google-color; }

  /* Rules for font size */
  .fz0 { font-size: 0; }
  .fz12 { font-size: 12px; }

  /* Rules for font weight */ 
  .fw-bolder { font-weight: bolder; }
  .fw-bold { font-weight: bold; }

  /* Rules for usual button style, improve bootstrap v3.3.7 */
  $color-post: #fff;
  $color-post-bg: #13284B;
  $color-file: #000;
  $color-file-bg: #D0D0D0;

  .btn:focus, 
  .btn.focus, 
  .btn:active:focus, 
  .btn:active.focus, 
  .btn.active:focus, 
  .btn.active.focus {
    outline: none;
  }

  .btn-post {
    color: $color-post;
    background: $color-post-bg;
  }

  .btn-file {
    color: #color-file;
    background: $color-file-bg;
  }


  /* Rules for media, bootstrp v3.3.7 */ 
  .inline-block { display: inline-block; }


  /* Login View */
  $width: 530px;
  $form-background: #46B9EE;
  $login-body: #3BAAE9;
  $form-color: #fff;
  $loginBtn-padding: 30px;

  .form-wrapper {

    // background: $login-body;
    // margin-top: -180px;
    // overflow: hidden;
    // height: 100vh;
    // min-height: 600px;
    
    padding: 40px;
  
    .m-nav-justified { 
      width: 100%;
      border-bottom: 0; 

      & > li {
        position: relative;
        display: table-cell;
        width: 1%;
        float: none;
        margin-bottom: -1px;

        & > a {
          margin-right: 0;
          margin-bottom: 0;
          text-align: center;
          background: #eeeeee;
          color: #7d97ad;
          border: 1px solid #ddd;
          margin-right: -1px;
          text-transform: uppercase;

          &:hover { border-color: #ddd;}
        }
      }

      & > li:not(.active) a:hover {
        color: #4db0de;
      }

      & > .m-cornor-l > a {
        border-radius: 4px 0 0 0;
      }

      & > .m-cornor-r > a {
        border-radius: 0 4px 0 0;
      }

      & > .active > a,
      & > .active > a:hover,
      & > .active > a:focus,
      {
        border-left-color: #ddd;
        border-right-color: #ddd;
        border-bottom-color: #fff;
        background: #fff;
        color: #555555;
      }

      & > .active > a,
      & > .active > a:hover,
      & > .active > a:focus,
  
      & > .m-cornor-l.active > a 
      & > .m-cornor-l.active > a:hover,
      & > .m-cornor-l.active > a:focus, 
      & > .m-cornor-r.active > a,
      & > .m-cornor-r.active > a:hover,
      & > .m-cornor-r.active > a:focus {
        border-left-color: #ddd;
        border-right-color: #ddd;
      }
    }

    .form-pane {
      // width: $width;
      margin: 0px auto;
      padding: 60px;
      border: 1px solid #e4e6e8;
      border-top: none;
      
      .btn-login, .btn-signup {
        width: 175px;
        // padding-left: $loginBtn-padding;
        // padding-right: $loginBtn-padding;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 2px solid $form-color;
        color: $form-color;
        text-transform: uppercase;
        background: $form-background;

        &:hover {
          color: $form-background;
          background: $form-color;
          border-color: $form-background;
        }

        &[disabled]:hover,
        &.disabled:hover {
          color: $form-color;
          background: $form-background;
          border-color: $form-color;
        }
      }

      .btn-forgot{
        // color: $form-color;
        color: #ccc;
        text-decoration: none;

        &:hover {
          color: $form-background;
        }
      }

      .description { color: #757c81; font-weight: 300; }
    
      .bottons {
        margin-top: 20px;  
      
        %btn-gap { 
          padding: 4px 20px;

          margin-left: 15px;
          margin-right: 15px;
          border: 1px solid #dbe2e8!important;
          border-radius: 4px;
          background-color: inherit;
          color: #757c81;
          vertical-align: middle;
          margin-bottom: 1.2rem;
          
          span { 
            display: inline-block;
            padding-top: .32em;
            vertical-align: top;
            padding-left: .4em; }
          &:hover span { color: $login-body;}
        }

        .btn-facebook {
          @extend %btn-gap;
        }

        .btn-github {
          @extend %btn-gap;
        }

        .btn-google {
          @extend %btn-gap;
        }
        
        .fa-icon { font-size: 24px; }
      }
    }
  
    // 
    // @media screen and (min-device-width: 768px) {
    //   .form-pane {
    //     width: $width;
    //     padding-left: 60px;
    //     padding-right: 60px;
    //   }

    //   .nav {
    //     width: $width;
    //     margin: 0 auto;
    //   }
    // }
  }

  @media screen and (min-device-width: 768px) {
    .form-wrapper {
      width: $width;
      margin: 0 auto;
    }
  }
}
