$django-summary: #ffc;
$django-info: #f6f6f6;
$django-body: #eee;

$django-admin-login-body: #f8f8f8;
$django-admin-login-body-container: #fff;

.main-site {
  background: #3BAAE9;
  max-width: 1030px;
  margin: auto;

  $sideBar-width: 240px;
  $sideBar-color: #3BAAE9;
  $main-color: #fff;

  .wrapper{

    position:relative;
    border-left: $sideBar-width solid $sideBar-color;
    background: $main-color;

    .sideBarWrapper {
      position: absolute;
      width: $sideBar-width;
      max-width: $sideBar-width;
      left: -$sideBar-width;
      top: 0;
      background: $sideBar-color;
    }

    .boardtWrapper{
      background: red;
      width: 100%;
      height: 700px;

      $active-color: #1870DD;
      & li.active a { color: $active-color; }
    }

  }
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Rules for vertical */
.vertical-top { vertical-align: top; }
.vertical-middle { vertical-align: middle; }
.vertical-bottom { vertical-align: bottom; }

/* Rules for usual margin */
.mt-2 { margin-top: 2px; }
.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }
.ml-2 { margin-left: 2px; }

/* Rules for usual font icon color */
$color-corrent: #0F7001;
$color-error: #FB0007;
$color-progress: #13284B;
$color-pristine: #6C6C6C;
.fa.pristine { color: $color-pristine; }
.fa.correct { color: $color-corrent; }
.fa.error { color: $color-error; }
.fa.draft { color: $color-progress; }

