:global
{
  .m-nav-stacked {
    .profile {
      border: 1px solid #CED7DF;
      border-left: none;
      vertical-align: top;
      margin-top: -1px;

      &.active { background: #fff; }

      & > a {
        position: relative;
        opacity: .65;
        transition: opacity 300ms;
        cursor: pointer;
      }

      &.active > a,
      &.active > a:hover,
      &.active > a:focus {
        opacity: 1;
        box-shadow: inset -3px 0 0 #106EE8;
        background-color: #fff;
      }

      &:not(.active) > a:hover,
      &:not(.active) > a:focus {
        opacity: 1;
      }

      .profile-avatar {
        position: relative;
        display: inline-block;
        width: 4.2rem;
        height: 4.2rem;
        vertical-align: top;

        & > img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }

        & > .img {
          width: 4.2rem;
          height: 4.2rem;
          background: #DDDDDD;
          border-radius: 50%;
        }
      }

      .profile-avatar-icon {
        position: absolute;
        bottom: 0;
        left: 3rem;
        width: 2rem;
        height: 2rem;
        padding-top: 3px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
      }

      .fa.fa-facebook { background: #3b5999; }

      .detail {
        display: inline-block;
        margin-left: 20px;
        margin-right: 10px;

        .username, .service { 
          display: block;
        }

        .username {
          margin-top: 4px;
          color: #000;
          font-weight: bold; 
        }

        .service {
          color: #ccc;
          font-size: 12px;
        }

      }

      .count {
        position: absolute;
        right: 30px;
        top: 50%;
        height: 20px;
        padding: 0 5px;
        border: 1px solid #d3d3d3;
        border-radius: 10px;  
        margin-top: -10px;
        font-size: 12px;      
        line-height: 20px;
        vertical-align: top;
        background: #b5d9f9;
      }

    }

    .profile:last-child {
      border-top: none;
    }
  }

}