:global
{
  .m-nav-stacked {
    .profile {
      border-top: 1px solid #CED7DF;
      border-right: 1px solid #CED7DF;
      border-bottom: 1px solid #CED7DF;
      vertical-align: top;

      &.active { background: #fff; }

      & > a {
        opacity: .65;
        transition: opacity 300ms;
        cursor: pointer;
      }

      &.active > a,
      &.active > a:hover,
      &.active > a:focus {
        opacity: 1;
        box-shadow: inset -3px 0 0 #106EE8;
        background-color: #fff;
      }

      &:not(.active) > a:hover,
      &:not(.active) > a:focus {
        opacity: 1;
      }


      
      .profile-avatar {
        position: relative;
        display: inline-block;
        width: 4.2rem;
        height: 4.2rem;
        vertical-align: top;

        & > img {
          width: 4rem;
          border-radius: 50%;
        }

        & > .img {
          width: 4.2rem;
          height: 4.2rem;
          background: #DDDDDD;
          border-radius: 50%;
        }
      }

      .profile-avatar-icon {
        position: absolute;
        bottom: 0;
        left: 3rem;
        width: 2rem;
        height: 2rem;
        padding-top: 3px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
      }

      .fa.fa-facebook { background: #2D4486; }

      .detail {
        display: inline-block;
        margin-left: 20px;
        margin-right: 10px;

        .username, .service { 
          display: block;
        }

        .username {
          margin-top: 4px;
          color: #000;
          font-weight: bold; 
        }

        .service {
          color: #ccc;
          font-size: 12px;
        }

      }

    }

    .profile:last-child {
      border-top: none;
    }
  }

}